/* Write CSS Here */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: rgb(253, 254, 255);
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 50%;
	max-width: 1000px;
	min-height: 100px;
	background-color: rgb(245, 239, 231);

	display: grid;
	grid-template-columns: 1fr 4fr;
}
.left {
	
	background-color: rgb(21, 44, 82);
	padding: 20px;
	color: rgb(255,255,255);
	font-size: 15px

}
.right {
	position: initial;
	background-color: rgb(162, 202, 206);
	padding: 20px;
	font-size: 15px

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project {
	margin-bottom: 30px;
}
.h2 {
	background-color: rgb(4, 96, 150);
}
